.footer{
    text-align: center;
    background-color: black;
    color: white;
    h1{
        color: rgb(19, 144, 153);
        font-size: 40px;
        font-weight: 800;
    }
    p{
        margin-top: -5px;
    }
    .COP{
        display: flex;
        gap: 19px;
        margin-left: 450px;
    }
}
