<!-- <section class="container">
    <div class="part-one">
        <h1>We build experience.</h1>
        <p>A minimalist approach is the only way to design a website. </p>
    
        <div class="main-contain">
            <div class="part1">
                 <h3>DESIGN</h3>
                 <p>With on emphasis on 
                     <br>typography,white space,and 
                     <br>mobile-optimized design,your
                     <br>website will look absolutely
                     <br>breathtaking.
                 </p>
                <button>LEARN MORE</button>
             </div>
             <div class="part2">
                 <h3>CONTENT</h3>
                 <p>
                     Our team will teach you the art 
                     <br>of writing audience-focused
                     <br>content that will help you
                     <br>achieve the success you truly
                     <br>deserve.
                 </p>
                 <button>LEARN MORE</button>
             </div>
             <div class="part3">
                 <h3>STRATEGY</h3>
                 <p>We help creative entrepreneurs
                     <br>build their digital buisiness by
                     <br>focusing on three key elements
                     <br>of a successful online platform.
                 </p>
                 <button>LEARN MORE</button>
            </div>
        </div>
    </div>
    <div class="part-two">
    
    </div>
    <div class="part-tree">
        <h1>We create stories</h1>
        <p>A simple looh is all you need to crush your competition</p>
        <br>
        <div>
            <div>
                <img src="" alt="image">
                <h3>OVERCOMING CREATIVE BLOCK</h3>
                <span>Brian Gardner-May 1,2017</span>
            </div>
            <div>
                <img src="" alt="image">
                <h3> WHY COMMUNICATION IS KEY</h3>
                <span>Brian Gardner-May 1,2017</span>
            </div>
            <div>
                <img src="" alt="image">
                <h3>THE PATH OF LEAST RESSISTANCE</h3>
                <span>Brian Gardner-May 1,2017</span>
            </div>
            <div>
                <img src="" alt="image">
                <h3>HOW TO REACH NEW HEIGHTS</h3>
                <span>Brian Gardner-May 1,2017</span>
            </div>
        </div>
    </div>
    <div>
        <p>Hit the ground running with a minimalist look.</p>
        <button>LEARN MORE</button>
    </div>
</section> -->
<section class="container">
    <div class="div-container">
        <h1>
            <span>{{part1}}</span> you can start add task
              and give us feedback inside the <span>CONTACT</span> part
         </h1>
         <a routerLink="/add-task" class="add-task">Add task</a>
    </div>
</section>