<form #registerForm="ngForm" (ngSubmit)="signin(registerForm.value)" action="" method="post">
    <div class="control">
      <label for="">Email:</label><br>
      <input type="email" ngModel name="email" placeholder="Enter your Email">
    </div>
    <div class="control">
      <label for="">password:</label><br>
      <input type="password" ngModel name="password" placeholder="Enter your Password">
    </div>
    <div class="btn">
        <button (click)="submit()">SignIn</button>
      <a routerLink="/" class="Signup">
        SignUp
      </a>
    </div>  
</form>      
<router-outlet></router-outlet>