<nav class="nav-bar">
    <div class="logo"><button>M</button></div>
    <ul class="list">
        <li class="nav-list">
            <a href="" routerLink="/home-page" class="nav-link">Home</a>
        </li>
        <li class="nav-list">
            <a href="#" class="nav-link">Contact</a>
        </li>
        <li class="nav-list">
            <a href="" class="nav-list">Buy theme</a>
        </li>
        <button routerLink="/log-in" class="login-btn">log in</button>
        <button routerLink="/log-out" class="logout-btn">log out</button>
    </ul>
</nav>