.nav-bar{
    width: 100%;
    height: 70px;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    // padding-top: 15px;
    // padding-bottom: -15px;
    background-color: black;

    .logo{
        button{
            border: 1px solid gray;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            font-size: 40px;
            font-weight: 600;
            color: rgb(19, 204, 211);
        }
        padding-top: 10px;
        padding-left: 20px;
      
    }
    .list{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .nav-list{
            font-size: 1.5rem;
            list-style: none;
            margin: 0rem 0.7rem;
            cursor: pointer;

            a{
                text-decoration: none;
                color: white;
                text-transform: capitalize;
            }
        }

        button{
            margin: 1rem;
            padding: 1rem;
            border: none;
            background-image: linear-gradient(to bottom right, rgb(24, 51, 255), rgb(23, 255, 154));
            color: white;
            font-size: 15px;
            font-weight: 600;
            outline: none;
            border-radius: 10px;
            text-decoration: none;
            cursor: pointer;
            transition: all ease-in-out;
        }
    }
}